body > #container {
  font-family: "Berkshire Swash", cursive;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  margin-left:-15px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";  
}

span:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}

span:after {
  color: #ccc;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  vertical-align: -0.5em;
}

blockquote p {
  display: inline;
}

#container {
  width: 500px;
  margin-top: 200px;  
}

#new_quote{
  margin-left: 15px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}
html {
  position: relative;
  min-height: 100%;
}
body { 
  margin-bottom: 60px;
  
}